.form
{
	margin-right:15px;
}
.form__question
{
	margin-top: 28px;
}

.form__text_question
{
	margin-bottom: 8px;
	font-size: 12px;
	line-height: 20px;
}

.title_radion_btn
{
	font-size: 12px;
	line-height: 20px;
	width: 200px;
	justify-content: flex-start;
	padding: 0px 16px;
}

.wrapper_radio_btns
{
	flex-direction: column;
}

.wrapper_submit
{
	margin-top: 28px;
}

.btn_disable
{
	cursor: not-allowed;
}

@media screen and (max-width: 1024px) 
{
	.extra_content
	{
		margin-left: 16px;
		margin-right:16px;
	}	
}

@media screen and (max-width: 500px) 
{
    .btn
    {
        width: 100%;
    }    
}
