
.main_content__wrapper_question
{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}

.main_content__question_labels
{
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	width: 100%;
	margin-top:8px;
}

.wrapper_btns
{
	justify-content: center;
}

@media screen and (max-width: 600px) 
{
	.main_content__question_labels
	{
		padding: 0 30px;
	}
	.wrapper_btns
	{
		margin:0 40px;
	}
}
