.extra_content
{
	margin-top:16px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.extra_content__title
{
	font-size: 17px;
	line-height: 22px;
	color:#BFC9D4;
}

.extra_content__form
{
	
}
.extra_content__form_question
{
	margin-top: 28px;
}

.extra_content__form_text
{
	margin-bottom: 8px;
	font-size: 12px;
	line-height: 20px;
}

.question_btn
{
	font-size: 12px;
	line-height: 20px;
	width: 200px;
	justify-content: flex-start;
	padding: 0px 16px;
}

.question_btn_wrapper
{
	flex-direction: column;
}

.wrapper_submit
{
	margin-top: 28px;
}
.wrapper_img
{
	width: 581px;
    position: absolute;
    top: 129px;
    right: -120px;
    bottom: 0;
	z-index: -1;
}

@media screen and (max-width: 1024px) 
{
	.extra_content
	{
		margin-left: 16px;
		margin-right:16px;
	}
	.question_btn_wrapper
	{
		margin:0;
	}	
}

@media screen and (max-width: 950px) 
{
	.wrapper_img
	{
		position: relative;
		width: 548px;
		right: 0;
		top:0;
	}	
}

@media screen and (max-width:700px)
{
	.wrapper_img
	{
		display: none;
	}	
}
